.weather-card-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 16px 14px;

  background-color: royalblue;
  color: white;

  border-bottom: 1px solid white;
}

.weather-card-left-wrap {
  flex-direction: column;
}

.weather-card-text {
  font-size: 22px;
}

.weather-card-weather {
  font-size: 14px;
}

.weather-card-temperature {
  font-size: 28px;
  letter-spacing: 1px;
}